@font-face {
    font-family: 'Playfair Display', serif;
    src: url('../fonts/PlayfairDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Playfair Display', serif;
    src: url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Karla', serif;
    src: url('../fonts/Karla-Medium.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Karla', serif;
    src: url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
}

h1 {
    font-family:'Playfair Display', serif ;
    font-weight: 500;
    font-size: 100px;
}
h2 {
    font-family:'Playfair Display', serif ;
    font-weight: 500;
    font-size: 96px;
}
h3 {
    font-family:'Playfair Display', serif ;
    font-weight: 700;
    font-size: 48px;
}
h4 {
    font-family:'Playfair Display', serif ;
    font-weight: 700;
    font-size: 30px;
}
h5 {
    font-family:'Karla', serif ;
    font-weight: 700;
    font-size: 20px;
}
p {
   font-family:'Karla', serif ;
    font-weight: 400;
    font-size: 20px;

}
