@media (max-width: 768px) {
        header .container{
        display: none;
    }
    body{
        align-items: center;
    }
    header .nav-burger{
        display: flex;
        justify-content: space-between;
        padding: 4rem;
    }
    h1 {
        display: none;
    }
    .container-form{
        display: none;
    }
    form{
        display: flex;
        flex-direction: column;
        height: 20%;
        margin-bottom: 20%;
    }
    #sectionFeu, #sectionTerre{
        display: flex;
        flex-direction: column-reverse;
    }
    #sectionAir, #sectionEau{
        display: block;
    }
    .concept{
        display: flex;
        flex-direction: column;
    }
    .createur{
        display: flex;
        flex-direction: column;
    }
    img.hotel{
        width: 100%;
    } 
    /************Pages hotel Feu******************/
    .offre {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }
    section.testimonial{
        padding: 2rem;
    }
    .container-img{
        width: 50%;
    }
}
