.container-img {
    position: relative;
    width: 500px; 
    height: 300px; 
    overflow: hidden;
}

.container-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.container-img img:nth-child(1) {
    transform: translateX(0); 
}

.container-img img:nth-child(2) {
    transform: translateX(90%); 
}

.container-img:hover img:nth-child(1) {
    transform: translateX(-100%); 
}

.container-img:hover img:nth-child(2) {
    transform: translateX(0); 
}

.container-img {
    width: 40%;
    height: 50vh;
}
/************** hotel air********************/
.Hotel-Air.container-img {
    position: relative;
    width: 500px; 
    height: 300px; 
    overflow: hidden;
}

.Hotel-Air.container-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.Hotel-Air .container-img img:nth-child(1) {
    transform: translateX(0); 
}
.Hotel-Air .container-img img:nth-child(2) {
    transform: translateX(-90%); 
}

.Hotel-Air .container-img:hover img:nth-child(1) {
    transform: translateX(100%); 
}

.Hotel-Air .container-img:hover img:nth-child(2) {
    transform: translateX(0); 
}

.Hotel-Air .container-img {
    width: 40%;
    height: 50vh;
}
/************************hotel eau*******************************/
.Hotel-Eau.container-img {
    position: relative;
    width: 500px; 
    height: 300px; 
    overflow: hidden;
}

.Hotel-Eau.container-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.Hotel-Eau .container-img img:nth-child(1) {
    transform: translateX(0); 
}
.Hotel-Eau .container-img img:nth-child(2) {
    transform: translateX(-90%); 
}

.Hotel-Eau .container-img:hover img:nth-child(1) {
    transform: translateX(100%); 
}

.Hotel-Eau .container-img:hover img:nth-child(2) {
    transform: translateX(0); 
}

.Hotel-Eau .container-img {
    width: 40%;
    height: 50vh;
}
/************carousel pages hotel Feu********************************/

  
  .container-carousel {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;
    gap: 10px;
  
     div {
      flex: 0 0 120px;
      border-radius: 0.5rem;
      transition: 0.5s ease-in-out;
      cursor: pointer;
      box-shadow: 1px 5px 15px #1e0e3e;
      position: relative;
      overflow: hidden;
  
      &:nth-of-type(1) {
        background: url("../../assets/images/images/uber.jpg")
          no-repeat 50% / cover;
      }
      &:nth-of-type(2) {
        background: url("../../assets/images/images/dejeuner.jpg")
          no-repeat 50% / cover;
      }
      &:nth-of-type(3) {
        background: url("../../assets/images/images/repas.jpg")
          no-repeat 50% / cover;
      }
      &:nth-of-type(4) {
        background: url("../../assets/images/images/ile-hotel4element.jpg")
          no-repeat 50% / cover;
      }
  
      .content {
        font-size: 1.5rem;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 15px;
        opacity: 0;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        background: rgb(2, 2, 46);
        background: linear-gradient(
          0deg,
          rgba(2, 2, 46, 0.6755077030812324) 0%,
          rgba(255, 255, 255, 0) 100%
        );
        transform: translatey(100%);
        transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
        visibility: hidden;
  
        span {
          display: block;
          margin-top: 5px;
          font-size: 1.2rem;
        }
      }
  
      &:hover {
        flex: 0 0 250px;
        box-shadow: 1px 3px 15px #7645d8;
        transform: translatey(-30px);
      }
  
      &:hover .content {
        opacity: 1;
        transform: translatey(0%);
        visibility: visible;
      }
    }
  }
  .container-carousel-activité {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;
    gap: 10px;
  
     div {
      flex: 0 0 120px;
      border-radius: 0.5rem;
      transition: 0.5s ease-in-out;
      cursor: pointer;
      box-shadow: 1px 5px 15px #1e0e3e;
      position: relative;
      overflow: hidden;
  
      &:nth-of-type(1) {
        background: url("../../assets/images/images/chien-traineaux.jpg")
          no-repeat 50% / cover;
      }
      &:nth-of-type(2) {
        background: url("../../assets/images/images/rando-raquette.jpg")
          no-repeat 50% / cover;
      }
      &:nth-of-type(3) {
        background: url("../../assets/images/images/volcan.png")
          no-repeat 50% / cover;
      }
      &:nth-of-type(4) {
        background: url("../../assets/images/images/visiteForet.jpg")
          no-repeat 50% / cover;
      }
  
      .content {
        font-size: 1.5rem;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 15px;
        opacity: 0;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        background: rgb(2, 2, 46);
        background: linear-gradient(
          0deg,
          rgba(2, 2, 46, 0.6755077030812324) 0%,
          rgba(255, 255, 255, 0) 100%
        );
        transform: translatey(100%);
        transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
        visibility: hidden;
  
        span {
          display: block;
          margin-top: 5px;
          font-size: 1.2rem;
        }
      }
  
      &:hover {
        flex: 0 0 250px;
        box-shadow: 1px 3px 15px #7645d8;
        transform: translatey(-30px);
      }
  
      &:hover .content {
        opacity: 1;
        transform: translatey(0%);
        visibility: visible;
      }
    }
  }